body {
    background-color: #C8AB83;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
nav a {
    margin-right: 10px;
}

ul{
    list-style-type: none;
}

#logoutBtn{
    position: absolute;
    top: 0%;
    right: 0%;
}
